<footer>
    <small class="contact">你也有過「靠，git」的經驗嗎，和我們分享吧！</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>